<p><p>in onecomponents 4files are created in that components
    1. .html
    2..cs
    3..ts.
    4...spesc.ts:- its for testing
    module.ts:_ update evrytime as we create new component
    command for creating the component:- 'ng g c login now login'
     name wala folder will get create login is nthg but the name we can write anything
    5. if u want to delete component:- right click delete and go to app module and import of that path should be deleted maually remember itso component is removed
    6. can we rename the component?
    ans-there are 4 files if you want to rename then u have ti rename all 4 files in that component . component name should be same for all 4 files in component and in app.module you have to rename the import path also, and in .ts in @Component template there also templateu have to rename it.</p>
 </p>
